<h5 class="text-success">Создать ToDo List используя FormArray</h5>

<p>
  После ввода названия задачи и нажатия на кнопку "Add Task", добавьте новое поле с названием задачи.<br>
  Название задачи можно отредактировать.<br>
  Задачу можно удалить из списка.<br>
</p>

<form [formGroup]="form">
  <div class="input-group w-50">
      <input formControlName="newTaskTitle"
             type="text"
             class="form-control"
             placeholder="enter name of new task">

      <button (click)="addTask()"
              class="btn btn-primary">Add Task</button>
  </div>

  <div formArrayName="taskList">
    <div *ngFor="let task of taskList.controls; let i = index"
         class="my-2 w-50" >

      <div class="input-group"
           [formGroupName]="i">
        <input formControlName="title"
               type="text"
               class="form-control" />

        <button (click)='removeTask(i)'
                class="btn btn-danger">x</button>
      </div>
    </div>
  </div>
</form>
